<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Book</title>
    <style>
            .navbar {
        background-color: blueviolet;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: center;
      }

      .navbar a {
          float: left;
          align-items: center;
          color: #f2f2f2;
          padding: 14px 16px;
          font-size: 22px;
}
    </style>
  </head>
  <body>
    <h1>Fill in the Details to add a book</h1>
    <form id="form" action="/Bookcreate" method="POST">
      <label for="bookname">Book:</label>
      <input type="text" required id="bookname" name="bookname" /><br /><br />
      <label for="name">Author:</label>
      <input type="text" required id="name" name="name" /><br /><br />
      <label for="url">Amazon Link:</label>
      <input type="url" required id="url" name="url" /><br /><br />
      <input type="submit" value="Add a Book" />
    </form>
    <div class="navbar">
      <a href="/home">List all Books</a>
      <a href="/AddNewBook">Add a Book</a>
      <a href="/DeleteABook">Delete a Book</a>
    </div>
  </body>
</html>
